html {
  font-size: 10px;
}
body,html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
  background-image: url(background.jpg); 
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}

h1{
  color: #fff;
  font-size: 6em;
  text-align: center;
}
h1 small{
  font-size: .2em;
  color: #000;
  display: inline-block;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.key {
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  color: #000;
  border-radius: .5rem;
  transition: all .07s ease;
  border: 0.5px solid #00000052;
  background: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.playing {
  transform: scale(1.3);
  border-color: #ffc600;
  box-shadow: 0 0 2rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #FFF176;
}


.footer{
  background-color: #eb9e0c;
  padding: 10px 20px;
  margin: 0px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.footer a{
  color: #673AB7;
  text-decoration: none;
}
